webservice/servidor/solicitudmuestras/SolicitudesMuestrasServerScramble.wsdl

<?xml version ='1.0' encoding ='utf-8' ?>
<definitions name='DistritosServer' 
             targetNamespace='http://dticursos.pjedomex.gob.mx/sigejupev2/webservice/servidor/' 
             xmlns:tns='http://dticursos.pjedomex.gob.mx/sigejupev2/webservice/servidor/' 
             xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
             xmlns='http://schemas.xmlsoap.org/wsdl/'> 

    <message name='insertSolicitudMuestraRequest'>
        <part name="usuario" type="xsd:string"/>    
        <part name="passwd" type="xsd:string"/> 
        <part name="jsonSolicitudMuestra" type="xsd:string"/>
    </message>
    
    <message name='getCatalogosRequest'>
        <part name="usuario" type="xsd:string"/>
        <part name="passwd" type="xsd:string"/>
    </message>
        
    <message name='insertSolicitudMuestraResponse'>          
        <part name='Resultado' type='xsd:string'/> 
    </message>  
    <message name='getCatalogosResponse'>          
        <part name='Resultado' type='xsd:string'/> 
    </message>  
     
    <portType name='ScramblePortType'>           
        <operation name='insertSolicitudMuestra'>
            <input message='tns:insertSolicitudMuestraRequest'/> 
            <output message='tns:insertSolicitudMuestraResponse'/>   
        </operation>
        <operation name='getCatalogos'>
            <input message='tns:getCatalogosRequest'/> 
            <output message='tns:getCatalogosResponse'/>   
        </operation>
    </portType>                                  

    <binding name='ScrambleBinding' type='tns:ScramblePortType'> 
        <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> 
        <operation name='insertSolicitudMuestra'> 
            <soap:operation soapAction='urn:localhost-scramble#insertSolicitudMuestra'/> 
            <input> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </input> 
            <output> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </output> 
        </operation>
        <operation name='getCatalogos'> 
            <soap:operation soapAction='urn:localhost-scramble#getCatalogos'/> 
            <input> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </input> 
            <output> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </output> 
        </operation>
    </binding> 

    <service name='ScrambleService'> 
        <port name='ScramblePort' binding='ScrambleBinding'> 
            <soap:address location='http://dticursos.pjedomex.gob.mx/sigejupev2/webservice/servidor/solicitudmuestras/SolicitudesMuestrasServer.php'/> 
        </port> 
    </service>
</definitions> 
