webservice/servidor/imagenes/ImagenesScramble.wsdl

<?xml version ='1.0' encoding ='utf-8' ?>
<definitions name='ImagenesServer' 
             targetNamespace='http://expvirtual.dti.pjedomex.gob.mx/electronico/webservice/servidor/' 
             xmlns:tns='http://expvirtual.dti.pjedomex.gob.mx/electronico/webservice/servidor/' 
             xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
             xmlns='http://schemas.xmlsoap.org/wsdl/'> 

    <message name='selectRutaRequest'>
        <part name="idCarpetaJudicial" type="xsd:string"/> 
        <part name="idActuacion" type="xsd:string"/> 
        <part name="fojas" type="xsd:string"/> 
        <part name="usuario" type="xsd:string"/>    
        <part name="passwd" type="xsd:string"/> 
    </message> 
    
    <message name='selectAdjuntoRequest'>
        <part name="adjunto" type="xsd:string"/>
        <part name="ruta" type="xsd:string"/>
        <part name="usuario" type="xsd:string"/>    
        <part name="passwd" type="xsd:string"/>  
    </message>
    
    <message name='selectRutaResponse'>          
        <part name='Resultado' type='xsd:string'/> 
    </message>                                   
    
    <message name='selectAdjuntoResponse'>          
        <part name='Resultado' type='xsd:string'/> 
    </message>
     
    <portType name='ScramblePortType'>           
        <operation name='selectRuta'>
            <input message='tns:selectRutaRequest'/> 
            <output message='tns:selectRutaResponse'/>   
        </operation>
        <operation name='selectAdjunto'>
            <input message='tns:selectAdjuntoRequest'/> 
            <output message='tns:selectAdjuntoResponse'/>   
        </operation>
    </portType>                                  

    <binding name='ScrambleBinding' type='tns:ScramblePortType'> 
        <soap:binding style='rpc' 
                transport='http://schemas.xmlsoap.org/soap/http'/> 
        <operation name='selectRuta'> 
            <soap:operation soapAction='urn:localhost-scramble#selectRuta'/> 
            <input> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' 
                 encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </input> 
            <output> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' 
                 encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </output> 
        </operation>
        <operation name='selectAdjunto'> 
            <soap:operation soapAction='urn:localhost-scramble#selectAdjunto'/> 
            <input> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' 
                 encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </input> 
            <output> 
                <soap:body use='encoded' namespace='urn:localhost-scramble' 
                 encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
            </output> 
        </operation>
    </binding> 

    <service name='ScrambleService'> 
        <port name='ScramblePort' binding='ScrambleBinding'> 
            <soap:address location='http://expvirtual.dti.pjedomex.gob.mx/electronico/webservice/servidor/imagenes/ImagenesServer.php'/> 
        </port> 
    </service>
</definitions> 
